aiohttp>=3.5.4
beautifulsoup4>=4.8.1
covid>=2.2.9
cryptg>=0.2.post0
dill>=0.3.1.1
gitpython>=3.0.3
meval>=2.5
requests>=2.22.0
speedtest-cli>=2.1.2
telethon>=1.24.0
googletrans==3.1.0a0
Pillow>=5.3.0
bs4